/* -------------------------- Positionnement des blocs ------------------------------------- */
body 
{
    margin:0 auto 0 auto; /* auto pour left et right --> la div bloc-page sera centrée */
    background-color:Silver;
    width:1000px;
}
#bloc-haut
{
    position:fixed;
    width:1000px;
    height:15%;
    background-color:ActiveCaption;
    text-align:center;
    z-index:2;
}
#bloc-page
{
    position:absolute; /* pour que ce bloc soit parent des blocs menu et contenu */
    width:1000px;
    min-height:85%; /* hauteur mini de ce bloc : hauteur de la fenêtre */
    top:15%;
    z-index:1;
}
#bloc-menu 
{
	padding-top:10px;
    position:fixed; /* Le menu reste en haut à gauche du bloc page (son bloc parent) */
    width:200px; /* 20% du bloc page ne fonctionne pas correctement et prend 20% de la fenêtre (cela fonctionne en absolute) */
    height:100%; /* 100 % de la fenêtre */
    background-color:ActiveCaption;
}
#bloc-contenu 
{
	padding-top:10px;
    position:absolute; /* Position absolue dans le bloc page (son bloc parent) */
    left:20%; /* Bord gauche à 20 % du bloc page (son bloc parent) */
    text-align:center; /* Les éléments de contenu seront centrés à l'intérieur du bloc */
    width:80%; /* 80 % du bloc page (son bloc parent) */
    min-height:100%; /* hauteur mini de ce bloc : hauteur du bloc page */
    background-color:InactiveCaption;
}

/* ----------------------- Définition des styles -------------------------------------------- */
#bloc-menu a, #bloc-menu input
{
    margin-left:20px;
}
#bloc-menu hr
{
    width:80%;
    text-align:center;
	color:InactiveCaption;
}
#bloc-menu ul
{
    list-style:none;
    padding:0;
}
#bloc-contenu
{
	color:navy;
}
#bloc-contenu h2
{
	text-align:left;
    margin-left:5%;
}
#bloc-contenu  form
{
	text-align:left;
	margin-top:15px;
    margin-left:5%;
}
#bloc-contenu  select
{
	text-align:left;
	margin-right:15px;
}
.tableau-fleurs
{
    width:90%;
    margin:auto;
    border-collapse:collapse;
}
.tableau-fleurs td
{
    border:1px solid ActiveCaption;
    padding:10px;
}
.tableau-fleurs img
{
    vertical-align:middle;
}
td.image
{
    width:30%;
}
td.reference
{
    width:15%;
}
td.description
{
    width:40%;
}
td.prix
{
    padding-right:30px;
    text-align:right;
    width:15%;
}
